name: NGrams CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Test and run examples
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install python packages
      run: |
        pip install pip --upgrade
        pip install -r requirements.txt
    - name: Run tests
      run: |
        pytest
        python -m ngrams --train-dir train_corpus --n-gram 3 --test-file test_corpus/thewire.txt
        python -m ngrams --train-dir train_corpus --n-gram 3 --test-file test_corpus/pan_tadeusz.txt

